# Python bytecode
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
dist/
build/
*.egg-info/

# Virtual environments
venv/
env/
ENV/
.env

# Jupyter Notebook
.ipynb_checkpoints

# Data files
*.parquet
*.csv
*.pkl
*.json
!credential.json

# OS specific files
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db

# IDE files
.idea/
.vscode/
*.swp
*.swo

# Logs
logs/
*.log

# Documentation builds
docs/build/
docs/_build/ 

credential.json
